<% content_for :page_title do %>
  Please select method to login to <%= Rails.application.config.site_title %>
<% end %>

<% title = {:ldap => CfiOauthProvider::Application.config.use_ldap != false && CfiOauthProvider::Application.config.use_ldap["title"],
  :google_oauth2 => "Google account" } %>

<% User.omniauth_providers.each do |prov| %>
<p>
  <%= link_to title[prov], "/users/auth/#{prov}", class: "btn btn-default btn-block" %>
</p>
<% end %>
<p>
  <%= link_to "Local database", "/users/sign_in?auth_provider=local", class: "btn btn-default btn-block" %>
</p>
