<strong>You are now signed in as <%= current_user.email%> </strong>

<p>
Please continue to <%= link_to Rails.application.config.default_link_title, Rails.application.config.default_link_url  %>.
</p>
